IMMICH_UPLOAD_PATH=mock_immich/upload
IMMICH_DOCKER_COMPOSE_FILE=mock_immich/docker-compose.yml
LOCAL_BACKUP_PATH=mock_local_backup
RSYNC_MODULE
RSYNC_PASSWORD_FILE=mock_remote_backup
COMPRESSION_PASSWORD=testpass
FULL_BACKUP_INTERVAL=7
STATE_FILE=mock_local_backup/state.json
OLD_FILE_RETENTION_DAYS=28
